<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BrandPay Sample</title>
    <script src="https://js.tosspayments.com/v1/brandpay"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      var clientKey = 'test_ck_abcdefghijklmnopqrstuvwxyzA9';
      var customerKey = 'customer-key-1'
  
      // 초기화
      var brandpay = BrandPay(clientKey, customerKey, {
        redirectUrl: 'http://localhost:3000/callback-auth'
      })

      function requestPayment() {
        brandpay.requestPayment({
          amount: 5000, // 결제 금액
          orderId: 'order-id-0', // 주문에 대한 ID 값
          orderName: '토스 티셔츠 외 2건', // 주문명
          customerEmail: 'customer@email.com', // 고객의 이메일 주소 (optional)
        })
          .then((res) => {
            // 결제 승인 요청
            return axios.post('http://localhost:3000/confirm-payment', res)
          })
          .then(() => {
            // 결제 성공 페이지로 redirect
            window.location.href = 'http://localhost:3000/payment-success'
          })
      }
  </script>

  </head>
  <body>
    <button onclick="requestPayment()">결제하기</button>
  </body>
</html>

